<div id="<%= dom_id team %>">
  <p>
    <strong>Name:</strong>
    <%= team.name %>
  </p>

  <p>
    <strong>Registered on:</strong>
    <%= team.registered_on %>
  </p>

  <p>
    <strong>Captain:</strong>
    <%= team.captain %>
  </p>

  <p>
    <strong>Paid:</strong>
    <%= team.paid %>
  </p>

</div>
